//- This is a comment

extends layout
extends finder

block content
    
    .container
        .jumbotron
            h2 Wishlist Bishes
            p WHERE DEM DREAMS OEIAEROAER

    p.text-blue This should be boo text
    input(type="text", name=searchin, id=searchin, value=val,autocomplete="off")
    #search.btn.btn-primary Search

block scripts
    script. 
        $('#search').on('click', function(){
            console.log('Fire the Torpedos')

            var ItemSearch = {
                term: 'Buzz lightyear',
                price: 20
            };
            $.post('/api/products/search', ItemSearch, function(resp){
                console.log(resp);
            });
        });


