//- This is a comment

extends layout

block content
    
    .container
        .jumbotron
            h2 Wishlist
            p You can put your stuff here Rob

    p.text-blue This should be blue text
    input(type="text", name=searchin, id=searchin, value=val,autocomplete="off")
    #search.btn.btn-primary Search

block scripts
    script. 
        $('#search').on('click', function(arr){
            console.log('Fire the Torpedos')

            var ItemSearch = {
                searchin
            };
            $.post('/api/products/search', ItemSearch, function(resarr){
                console.log(resp);
            });
        });


