html
    head
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        title Our Wishlist Application
        style.
            .header{height: 100px; width: 1200px; background-color: darkblue; text-align: center; align: middle; border-top-right-radius: 25px; border-top-left-radius: 25px; margin: auto;}
            .search-area {height: 1200px; width: 1200px; background-color: lightblue; border-bottom-right-radius: 25px; border-bottom-left-radius: 25px; text-align: center; margin: auto;}
            .jumbotron {background-color: lightgray;}
            .text-blue { color: blue; }
    body

        .header
            h1(style="color:red;") Amazon API Wishlist

        block content


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.0.min.js"></script>
    block scripts