//- This is a comment

extends layout

block content
    
    .search-area
        .jumbotron
            h2 Search button location
            p This is the zone for putting the search bar in
            input(type="text", name=searchin, id=input, autocomplete="off")
            #search.btn.btn-primary(type="submit") Search
        h2 This is where the various products will append to
            

    p.text-blue This should be blue text

block scripts
    script. 
        $('#search').on('click', function(finder){
            console.log('Fire the Torpedos')
            

            var ItemSearch;
                if (document.getElementById('input') != null) {
                    str = document.getElementById("input").value;
                }
                else {
                    str = null;
                }
            var promise = $.getJSON('https://github.com/lcox2/AmazonAPI/blob/testing/amazon/finder.js')

                promise.done(function(finder) {
                    $('body').append(finder.text);
                });

                promise.fail(function() {
                    $('body').append('<p>Oh no, something went wrong!</p>');
                });
            });


