//- This is a comment

extends layout

block content
            
    .container
        .page-nav
            h1 Wishlist Search and Output
        .search-area
            h2 Search Bar Area
            input(type="text", name=searchin, id=input, autocomplete="off")
            #search.btn.btn-primary(type="submit") Search
        .output-area
            h2 Output Area
        .copyright-area
            p Combined effort of John, Levi, and Robert

block scripts
    script. 
        $('#search').on('click', function(finder){
            console.log('Fire the Torpedos')
            
            var finder = new Finder();
                if (document.getElementById('input') != null) {
                    str = document.getElementById("input").value;
                }
                else {
                    str = null;
                }
            var resarr = new Resarr()
            {
                resarr(function(resarr) {
                    $('body').append(resarr.text);
                });

                resarr.fail(function() {
                    $('body').append('<p>Oh no, something went wrong!</p>');
                });
            };
        });


