//- This is a comment

extends layout

block content
<<<<<<< HEAD
=======
    .search-area
        .jumbotron
            h2 Search button location
            p This is the zone for putting the search bar in
            input(type="text", name=searchin, id=input, autocomplete="off")
            #search.btn.btn-primary(type="submit") Search
        h2 This is where the various products will append to
>>>>>>> f6dace03f5ae77f393cc9f602c5d069a4a603b67
            
    .container
        .page-nav
            h1 Wishlist Search and Output
        .search-area
            h2 Search Bar Area
            input(type="text", name=searchin, id=input, autocomplete="off")
            #search.btn.btn-primary(type="submit") Search
        .output-area
            h2 Output Area
        .copyright-area
<<<<<<< HEAD
            p Combined effort of John, Levi, and Robert
            
=======
            p Combined effort of John, Isaac, and Robert

>>>>>>> f6dace03f5ae77f393cc9f602c5d069a4a603b67

block scripts
    script. 
        $('#search').on('click', function(finder){
            console.log('Fire the Torpedos')
            
            var finder = new Finder();
                if (document.getElementById('input') != null) {
                    str = document.getElementById("input").value;
                }
                else {
                    str = null;
                }
            var resarr = new Resarr()
            {
                resarr(function(resarr) {
                    $('body').append(resarr.text);
                });

                resarr.fail(function() {
                    $('body').append('<p>Oh no, something went wrong!</p>');
                });
            };
        });


