html
    head
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        title Our Wishlist Application
        style.
            .text-blue { color: blue; }
    body

        h1(style="color:red;") Please Work holmes.

        p.text-blue I think this is blue?
            block content


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    block scripts